# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
dotnetcore/com.halffulldata.halo5stats.api/bin/Debug/netcoreapp3.1/appsettings.Development.json
dotnetcore/com.halffulldata.halo5stats.api/bin/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.deps.json
dotnetcore/com.halffulldata.halo5stats.api/bin/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.dll
dotnetcore/com.halffulldata.halo5stats.api/bin/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.exe
dotnetcore/com.halffulldata.halo5stats.api/bin/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.pdb
dotnetcore/com.halffulldata.halo5stats.api/bin/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.runtimeconfig.dev.json
dotnetcore/com.halffulldata.halo5stats.api/bin/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.runtimeconfig.json
dotnetcore/com.halffulldata.halo5stats.api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
dotnetcore/com.halffulldata.halo5stats.api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
dotnetcore/com.halffulldata.halo5stats.api/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
dotnetcore/com.halffulldata.halo5stats.api/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
dotnetcore/com.halffulldata.halo5stats.api/obj/com.halffulldata.halo5stats.api.csproj.nuget.dgspec.json
dotnetcore/com.halffulldata.halo5stats.api/obj/com.halffulldata.halo5stats.api.csproj.nuget.g.props
dotnetcore/com.halffulldata.halo5stats.api/obj/com.halffulldata.halo5stats.api.csproj.nuget.g.targets
dotnetcore/com.halffulldata.halo5stats.api/obj/project.assets.json
dotnetcore/com.halffulldata.halo5stats.api/obj/project.nuget.cache
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.AssemblyInfo.cs
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.AssemblyInfoInputs.cache
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.assets.cache
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.csproj.CopyComplete
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.csproj.CoreCompileInputs.cache
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.csproj.FileListAbsolute.txt
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.csprojAssemblyReference.cache
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.dll
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.exe
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.genruntimeconfig.cache
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.MvcApplicationPartsAssemblyInfo.cache
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.pdb
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/com.halffulldata.halo5stats.api.RazorTargetAssemblyInfo.cache
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/project.razor.json
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/staticwebassets/com.halffulldata.halo5stats.api.StaticWebAssets.Manifest.cache
dotnetcore/com.halffulldata.halo5stats.api/obj/Debug/netcoreapp3.1/staticwebassets/com.halffulldata.halo5stats.api.StaticWebAssets.xml
